.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-btn{
  border: none;
  border-radius: 8px;
  color: white;
  background: hsla(0, 100%, 50%, 0.3);
  margin: 5px;
}

.nav-btn:hover{
  color: slateblue;
  border: 1px solid slateblue;
  background: violet;
}

.nav-btn:focus {
  outline: 0;
  background: white;
}

.likes:hover {
  color: #0066ff;
  border: 1px solid #0066ff;
  background: #ff99c2;
}

.form-display {
  border: 5px solid purple;
  padding: 9px;
  margin: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
